div{
    background-color: white;
    width: 300px;
    height: 350px;
    background-size: 300px 250px;
    border-top-left-radius: 30%;
   border-bottom-right-radius: 30%;
   border: 10px solid lightskyblue;
}
input{
    margin-left: 100px;
}
h3{
    margin-left: 50px; 
    color: lightskyblue;
    padding-left: 50px;
    padding-top: 30px;
}
#username,#password{
    padding-top: 20px;
    margin-left: 20px;
    border-bottom: 1px solid black;
    padding-bottom:2px;
    opacity: .5;
}

#login{
    background-color: lightskyblue;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding:5px;
    margin-left:38px; 
    margin-right:20px; 
    margin-top: 45px;
    width: 70%;
}
#remember{
    opacity: .5;
    margin-left: 0px; 
    margin-top: 20px;
    
}
#checkbox{
    float: left;
    padding-top: 5px;
    margin-left: 17px;
   
}
#account{
    text-align: center;
}






/* ul>div{
    display:inline-block;
    width: 200px;
    height: 250px;
    border: 5px solid red left;
    background-repeat: no-repeat;
    
    background-size: 200px 250px;
    border-bottom: 1px solid black;
   border-top-left-radius: 30%;
   border-bottom-right-radius: 30%;
   
   
   
} */

/* 
#firstli{
    background-image: url('../asserts/images/ntFmJUZ8tw3ULD3tkBaAtf-320-80.jpg')
   
}
#secondli{
    background-image: url('../asserts/images/pexels-photo-417173.jpeg')
}

#thirdli{
    background-image: url('../asserts/images/photo-1545161296-d9c2c241f2ad.jpg')
} */